<div class="container-fluid foodbackground">
  <div class="container">
    <div class="row centerrow">
      <div class="header">
        <h1>{{title}}</h1>
        <h4>Find the best restaurants, cafes and bars</h4>
      </div>
      <div class="input-group">
        <ng-select [items]="cities" bindLabel="name" bindValue="name" id="search" class="form-control spacing"
          placeholder="Select city" [clearable]="true" [(ngModel)]="selectedCityName" [closeOnSelect]="true"
          dropdownPosition="auto">
        </ng-select>&nbsp;

        <span class="input-group-btn">
          <input type="button" name="commit" value="Search" class="btn btn-primary searchspace" data-disable-with="Search"
            (click)="goToDashboard($event, cityName=selectedCityName)">
        </span>
      </div>
    </div>
  </div>
</div>